### ***About the project:***

*A real-world dataset of the Superstore to complete this project. This project intends to evaluate the provided dataset, solving business problems on this dataset and mining information insights. The data for this project will also be shown so that patterns and various categories may be understood more clearly.*

***Project Description:***

*In This project will learn how to use SQL to analyze a real-world database, how to extract the most useful information from the dataset, how to pre-process the data using Python for improved performance, how to use a structured query language to retrieve useful information from the database, and how to visualize the data using the PowerBI tool.*

**Pre-processing the dataset:**

*In this task we will be working on handling null values, deletion or transformation of irrelevant values, data type transformation, removing duplicates and data validations. Once completed this task, you will get a refined and a cleaner data set for further analysis.*

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv(r'/content/superstore_final_dataset.csv')
df.head(4)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775

In [13]:
rows = len(df)
cols = len(df.columns)

print("Rows:", rows)
print("Columns:", cols) 

# ***OR***

df.shape

Rows: 9800
Columns: 18

(9800, 18)

***Steps to perform Data Pre-processing:***

`Step 1: Removing duplicate rows (there could be duplicate rows excluding Row_ID column).`

In [5]:
df.duplicated(keep="first")

0       False
1       False
2       False
3       False
4       False
        ...
9795    False
9796    False
9797    False
9798    False
9799    False
Length: 9800, dtype: bool

In [ ]:
# Check for duplicated rows
duplicated_rows = df[df.duplicated(subset=df.columns.drop('Row_ID'))]

# Print the duplicated rows
print(duplicated_rows)

      Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode  \
3406    3407  US-2015-150119  23/04/2015  27/04/2015  Standard Class

     Customer_ID   Customer_Name      Segment        Country      City State  \
3406    LB-16795  Laurel Beltran  Home Office  United States  Columbus  Ohio

      Postal_Code Region       Product_ID   Category Sub_Category  \
3406      43229.0   East  FUR-CH-10002965  Furniture       Chairs

                                           Product_Name    Sales
3406  Global Leather Highback Executive Chair with P...  281.372

In [ ]:
filter_cols = list(df.columns)
filter_cols.remove('Row_ID')

duplicated_row = df[df['Row_ID'] == 3407][filter_cols].squeeze()
print('duplicated_row:\n', duplicated_row)

duplicated_row:
 Order_ID                                            US-2015-150119
Order_Date                                              23/04/2015
Ship_Date                                               27/04/2015
Ship_Mode                                           Standard Class
Customer_ID                                               LB-16795
Customer_Name                                       Laurel Beltran
Segment                                                Home Office
Country                                              United States
City                                                      Columbus
State                                                         Ohio
Postal_Code                                                43229.0
Region                                                        East
Product_ID                                         FUR-CH-10002965
Category                                                 Furniture
Sub_Category                                                Chairs
Product_Name     Global Leather Highback Executive Chair with P...
Sales                                                      281.372
Name: 3406, dtype: object

In [6]:
df = df.drop_duplicates()

In [7]:
df.shape

(9800, 18)

`Step 2: Removing rows for which few values are missing.`

In [8]:
df.isnull().sum()

Row_ID            0
Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

In [9]:
df = df.dropna(axis=0)
# Drop the rows that have null values in the Postal_Code column
#df = df.dropna(subset=['Postal_Code'])

In [10]:
df.isnull().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [11]:
df.shape

(9789, 18)

`Step 3: Remove irrelevant values from each column if any. Validation of all values for a column( order date and ship date value must be in correct date format ). For each entry in dataset ship date >= order date`

In [12]:
df.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code      float64
Region            object
Product_ID        object
Category          object
Sub_Category      object
Product_Name      object
Sales            float64
dtype: object

In [13]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

In [14]:
df.dtypes

Row_ID                    int64
Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code             float64
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

In [15]:
df = df[df['Ship_Date'] >= df['Order_Date']]

In [16]:
df.shape

(8105, 18)

`Step 4: Export the cleaned dataset as a .csv file: prefer UTF-8 encoding.`

In [17]:
#df.to_csv('cleaned_dataset.csv', encoding='utf-8', index=False)
df.to_csv(r"superstore_pre-processed.csv")